/* Font Faces */

@font-face {
    src: url('Roboto-Regular.ttf');
}

@font-face {
    src: url('Roboto-Bold.ttf');
}

@font-face {
    src: url('Roboto-Italic.ttf');
}


/* Root */

.root {
    -fx-font-size: 20;
    -fx-font-family: "Roboto";
	rpmWhite: #FBF9FA;
	rpmLightGrey: #F2F2F2;
	rpmGrey: #B5B5B5;
	rpmDarkGrey: #727272;
	rpmDarkerGrey: #4F4F4F;
	rpmBlack: #121C1E;
	rpmGunMetal: #203542;
	rpmAzure: #265A6C;
	rpmGreen: #119C79;
	rpmDarkGreen: #20725C;
	rpmRed: #DC3545;
	rpmDarkRed: #A03E48;
}


/* JavaFX Classes */

.text-field, .choice-box, .choice-box .context-menu, .check-box .box, .dialog-pane, .border-class {
	-fx-font-size: 20;
	-fx-text-fill: rpmGunMetal;
	-fx-prompt-text-fill: rpmGrey;
	-fx-highlight-fill: rpmGrey;
	-fx-highlight-text-fill: rpmWhite;
	-fx-background-color: rpmGrey, rpmWhite;
	-fx-background-insets: 0em, 0.05em;
	-fx-padding: 0.8em;
	-fx-background-radius: 0.4em;
	-fx-border-radius: 0.4em;
}

.hyperlink {
    -fx-text-fill: rpmGreen;
	-fx-underline: true;
	-fx-border-color: transparent;
	-fx-padding: 0em;
}

.text-field:focused {
	-fx-background-color: rpmGunMetal, rpmWhite;
}

.choice-box, .choice-box .context-menu {
	-fx-padding: 0.5em 0.8em 0.5em 0.8em;
	-fx-mark-color: rpmGunMetal;
}

.choice-box:focused {
	-fx-background-color: rpmGunMetal, rpmWhite;
}

.button {
	-fx-background-color: rpmGreen;
	-fx-text-fill: rpmWhite;
	-fx-padding: 0.8em;
	-fx-background-radius: 0.4em;
}

.button:hover {
	-fx-background-color: rpmDarkGreen; 
}

.separator .line {
    -fx-background-color: rpmGrey;
    -fx-pref-height: 0.07em;
    -fx-pref-width: 0.07em;
    -fx-border-color: null ;
}

.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
    -fx-padding :0em 0em 0.4em 0em;

}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-padding :0em 0.4em 0em 0em;

}

.scroll-bar:horizontal .increment-arrow,
.scroll-bar:horizontal .decrement-arrow{
    -fx-padding: 0.15em 0em;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-padding :0em 0.15em;
}

.scroll-pane {
	-fx-background-color: rpmGrey;
	-fx-background-insets: 0;
	-fx-padding: 0em 0.05em 0em 0em;
}

.scroll-pane:focused {
	-fx-background-color: rpmGrey;
	-fx-padding: 0em 0.05em 0em 0em;
}

.thumb {
    -fx-background-color: rpmDarkGrey;
    -fx-background-radius: 2.0em;
}

.thumb:hover {
    -fx-background-color: rpmDarkerGrey;
}

.check-box .box {
	-fx-padding: 0.4em;
}

.check-box:selected .mark {
	-fx-background-color: rpmGrey;
	-fx-shape: "m 43.546627,68.556357 4.38154,-4.38154 c 0.01021,-0.01021 0.02666,-0.01022 0.03688,0 l 58.178713,58.178703 c 0.0102,0.0102 0.0102,0.0267 1e-5,0.0369 l -4.38154,4.38154 c -0.0102,0.0102 -0.0267,0.0102 -0.0369,-1e-5 L 43.546625,68.593237 c -0.01021,-0.01021 -0.01022,-0.02666 0,-0.03688 z";
}

/* Custom Classes */

.h1 {
	-fx-font-size: 96;
	-fx-font-weight: bold;
	-fx-fill: rpmAzure;
	-fx-text-fill: rpmAzure;
}

.h2 {
	-fx-font-size: 64;
	-fx-font-weight: bold;
	-fx-fill: rpmBlack;
	-fx-text-fill: rpmBlack;
}

.h3 {
    -fx-font-size: 40;
    -fx-fill: rpmBlack;
    -fx-text-fill: rpmBlack;
}

.h4 {
    -fx-font-size: 30;
	-fx-font-weight: bold;
    -fx-fill: rpmBlack;
    -fx-text-fill: rpmBlack;
}

.h4 {
    -fx-font-size: 24;
    -fx-fill: rpmBlack;
    -fx-text-fill: rpmBlack;
}

.negative-button {
	-fx-background-color: rpmRed;
}

.negative-button: hover {
	-fx-background-color: rpmDarkRed;
}

.negative-control {
    -fx-background-color: rpmRed, rpmWhite;
}

.navbar {
	-fx-background-color: rpmBlack;
}

.main-content {
	-fx-background-color: rpmLightGrey;
}

.sidebar {
	-fx-background-color: rpmWhite;
}

.navbar-button, .navbar-button-active {
	-fx-background-color: rpmBlack;
	-fx-padding: 0.8em;
	-fx-background-radius: 0em;
}

.navbar-button-active {
    -fx-background-color: rpmAzure;
}

.navbar-button:hover {
	-fx-background-color: rpmGunMetal;
}

.navbar-button-active:hover {
	-fx-background-color: rpmAzure;
}

.close-button {
    -fx-shape: "m 102.34127,80.057248 -0.49747,-0.512013 2.09828,-2.816068 -2.09828,-2.816068 0.49747,-0.512013 2.73611,2.272728 2.73611,-2.272728 0.49747,0.512013 -2.24001,2.816068 2.24001,2.816068 -0.49747,0.512013 -2.73611,-2.225481 z";
    -fx-background-color: rpmDarkerGrey;
}

.close-button:hover {
    -fx-background-color: rpmRed;
}